<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="connection" value="Server = A-RABESHKA; Database = BoengServiceWebSite; Trusted_Connection = True" />
	</appSettings>
	<connectionStrings>
		<add name="MSSQL"  connectionString="Server = A-RABESHKA; Database = BoengServiceWebSite; Trusted_Connection = True" />
	</connectionStrings>
</configuration>
