@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/css/styles.css">
<body style="    background: url(https://wallpapercave.com/wp/wp4305694.jpg);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        backdrop-filter: url(filters.svg#filter) saturate(150%);
        background-size: 100% 100%;
        height: auto;
        background-repeat: no-repeat;
    ">
    <div class="container">
        <div class="text-center" style="
        margin-top:18%;
        backdrop-filter: blur(6px);
        font-weight: 300;
        font-size: 72px;
        line-height: 91px;
        letter-spacing: 0.175em;
        ">
            <h1 class="display-2 text-center text-light">The Boeing Company</h1>
        </div>

    </div>
</body>

