@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>
        I'm glad you noticed. Our website is using cookies for athentification of our users and prevention of intrusions in our system.
        Also currently we are collecting all data from your computer. Yep, even this suspicious folder "homework", make sure to check my
        LinkedIn  <a href="https://www.linkedin.com/in/rabeshko-andrey/">page</a>
    </p>
</div>