@model PL.Models.UserViewModel
@{
    ViewData["Title"] = "ChangePassword";
}
<div class="container">
    <div class="row box-shadow ">
        <h1 class="col display-4 text-lg-center">Enter new password</h1>
    </div>
    <div class=" row box-shadow">
        <div class="col" style="margin-left: 2% ;margin-top:5%;">
            <form method="post">
            <label class="custom-control-label">In case you want to change your password write a new one in the form</label>
            <div class="form-group" style="margin-top:7%">
                <input asp-for="Password" class="form-control" placeholder="New Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <label class="custom-control-label text-muted">Better to remember it, because you can't recover your account after you forget the password</label>
            <div class="mt-md-5">
                <div class="form-group btn-group align-bottom">
                    <input type="submit" value="Apply" class="btn btn-primary" asp-action="Edit" asp-controller="User" />
                    <a asp-controller="User" asp-action="Edit" class="btn btn-outline-dark" asp-route-id="@Model.Id">Back to Edit</a>
                </div>
            </div>

            </form>
        </div>
        <div class="col">
            <img src="https://img.freepik.com/free-vector/website-private-password-security-access-lock-notice-online-document-page-verification-login-code-web-internet-notification-authentication-flat-illustration_212005-149.jpg?size=626&ext=jpg" alt="Image" />
        </div>
    </div>
   
</div>